
.part1 {
    background-color: #1F2937;
    height: 500px;
}
.part2 {
    background-color: white;
    height: 450px;
}
.part3 {
    background-color: lightgray;
    height: 400px;
}
.part4 {
    background-color: white;
    height: 300px;
}
.part5 {
    background-color: #1F2937;
    height: 100px;
    text-align: center;
    color: white;
    display: block;
    justify-content: center;
}
#hlinks {
    margin-left: 1350px;
    font-style: Roboto;
    font-size: 15px;
    font-weight: 100;
    color: white;
    display: flex;
    position: absolute;
    top: 15px;
    gap: 20px;
}
#text {
    width: 350px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    gap: 5px;
    left: 300px;
}
#mtext {
    font-weight: bolder;
    color: white;
    font-size: 48px;

}
#stext {
    font-weight: 300;
    color: white;
    font-size: 16px;
}
.subutton {
    background-color: #3882F6;
    width: 80px;
    color: wheat;
    border: 2px white solid;
}
#img {
    height: 250px;
    width: auto;
    position: absolute;
    top: 70px;
    left: 1450px;
}
#logo {
    position: absolute;
    top: -5px;
    left: 300px;
    color: white;

}
#rdinfo {
    position: absolute;
    top: 530px;
    left: 700px;
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}
.imgtxt {
    display: flex;
    justify-content: center;
    gap: 50px;
    position: absolute;
    top: 650px;
    left: 470px;

}
.img {
    height: 120px;
    width: auto;
    border-radius: 10%;
    
}
.txt {
    height: 50px;
    width: 150px;
    text-align: center;
    color: #1F2932;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#quotes {
    position: absolute;
    top: 1050px;
    left: 670px;
}
#quote{
    font-size: 36px;
    width: 500px;
    color: #1F2937;
    font-style: italic

}
#signature {
    text-align: right;
}
#call {
    background-color: #3882F6;
    height: 170px;
    width: 1500px;
    margin-top: 50px;
    margin: auto;
    position: relative;
    top: 30%;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
#join1 {
    position: relative;
    top: 30%;
    font-size: 25px;
    color: white;
}
#join2 {
    position: relative;
    top: 30%;
    font-size: 22px;
    color: lightgray;
}
.subutton2 {
    background-color: #3882F6;
    width: 100px;
    color: wheat;
    height: 30px;
    position: relative;
    top: 40%;
    border: 2px white solid;
    border-radius: 10%;
}
#copy {
  display: inline-block;
  margin-top: 50px;
}